
html {
    background-color: #181a1b;
}


* {
    color: #3391ff;
}


#header {
    color: #3391ff;
    font-family: 'Josefin Sans';
    font-size: 33px;
    text-align: left;

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#header a {
    text-decoration: none;
}


.header-nav {
    font-size: 0.65em;
    word-spacing: 10px;
    float: right;
    margin-top: 4px;
}

.header-nav a {
    text-decoration: none;
}


.main {
    padding-top: 30px;
    padding-right: 15%;
    padding-left: 15%;
}

.main p {
    font-family: 'Roboto';
    color: #dcefff;
    line-height: 120%;
    font-size: 22px;
    margin-bottom: 30px;
}